name: pengi-start
services:
  db:
    image: postgres
    restart: always
    ports:
      - 5432:5432
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: pengi-svelte
      POSTGRES_DB: pengi-svelte
    volumes:
      - pgdata:/var/lib/postgresql
volumes:
  pgdata:
